<div class="row">
    <div class="col-md-4" ng-controller="SensorController as ctrl">
        <p>
            <ul class="list-group">
                <li ng-repeat="state in ctrl.states" class="list-group-item">
                    <h5>{{state.Name}}: <span class="label label-success">{{state.Value}}</span></h5>

                </li>
            </ul>
        </p>
    </div>
    <div class="col-md-8" ng-controller="SocketController as ctrl">
        <p>
            <ul class="list-group pull-left">
                <li ng-repeat="state in ctrl.states" class="list-group-item">
                    <label>{{state.Name}}: </label>
                    <button type="button" class="btn btn-success btn-sm"
                            ng-class="{'btn-success': !state.IsTurnOn, 'btn-danger': state.IsTurnOn}"
                            ng-click="ctrl.changeState(state.Index)">
                        {{state.StateName}}
                    </button>
                </li>
            </ul>
        </p>
    </div>
</div>